{
  "importSort": {
    ".js, .jsx, .ts, .tsx": {
      "style": "module"
    }
  },
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "editor.formatOnSave": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
